
body{
    font-family: Georgia, 'Roboto', Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
    scroll-behavior: smooth;
}

#About_me{
    width: 100%;
    height: 100vh;
    padding-top: 170px;
}
#Proyectos{
    width: 100%;
    height: 100vh;
    padding-top: 200px;
}

.img-card{
    width: 287px;
    height: 235px;
}

.iconify{
    width: 50px;
    height: 50px;
    margin-left: 18px;
}

.social-icons a:nth-child(1){
    margin-left: 15px;
}


.prof-box {
    width: 450px;
    height: 450px;
    background-color: transparent;
    padding: 40px;
    color: black;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}
.prof-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 50%;
}

h1 {
    font-size: 2rem;
    line-height: 1.3rem;
}

p{
    margin-bottom: 1.6em;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}
.container img {
    width: 100%;
    max-width: 350px;
    margin: top 0;
    height: 100%;
    max-height: 350px;
    border-style: solid;
    border-color:#4a4a4a;
    border-width: 4px;
    border-start-end-radius: 1;
}

.header {
    background: #333;
    color: white;
    padding: 2rem;
    z-index: 1;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
    .header a{
        color: white;
        text-decoration: none;
    }

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    letter-spacing: 10px;
    font-size: 1.3em;
    font: bolder;
}

social_icons {
    font-size: 60px;
}
.menu-icon {
    display: none;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

    .navigation ul li {
        display: inline-block;
    }
        .navigation ul li a {
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 5px;
        }
            .navigation ul li a:hover{
                background: #4a4a4a;
            }
.main{
    padding-top: 12rem;
}

.footer {
    background: #f2f2f2;
    padding: 2rem 0;
    text-align: left;
    margin-top: 4rem;
}

@media only screen and (max-width: 767px) {
    
    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }
    
    .navigation {
        width: 100%;
        margin-top: 1rem;
    }
        .navigation ul {
            display: none;
        }
            .navigation ul.show {
                display: block;
            }
                .navigation ul li {
                    display: block;
                }
                    .navigation ul li a {
                        display: block;
                        padding: 0.5rem 0;
                        transition: all 0.4s linear;
                        border-radius: 5px;
                    }
                        .navigation ul li a:hover{
                            background: #4a4a4a;
                        }
}